category_encoders==2.8.0
numpy==2.2.3
pandas==2.2.3
scikit-learn==1.6.1
scipy==1.15.2
statsmodels==0.14.4
sdv==1.18.0
boto3==1.37.10
cloudpickle==3.1.1
graphviz==0.20.3
tqdm==4.67.1
copulas==0.12.1
plotly==6.0.0
ctgan==0.11.0
torch==2.6.0
rdt==1.14.0
Faker==37.0.0
deepecho==0.7.0
PyYAML==6.0.2
openpyxl
seaborn
xgboost==2.1.4
tabulate==0.9.0
